body {
    height: 2000px;
}

p, h1 {
    border: 2px solid #5bcee8;
}

.example-list {
    border: 2px solid #5bcee8;
    background: grey;
    padding-top: 10px;
}

.example-list li {
    border: 2px solid #5bcee8;
    margin-bottom: 10px;
    padding: 5px;
    background: aquamarine;
}

em {
    background: #D2B48C;
}
